﻿@model HiMvcFormsAuth.ViewModels.UserInfoViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Logout", "Home"))
{
    @Html.AntiForgeryToken()
    <h1>Hi @Model.Name</h1>
    <button class="btn btn-primary">登出</button>
}
